*{

}
.carousel-item{
    height: 100vh;
    min-height: 300px;
}
.carousel-caption{
    bottom: 360px;
}
.carousel-caption h2{
    font-size: 80px;
    letter-spacing: 2px;
}
.carousel-caption p{
    font-size: 25px;
}